<div class="row">
  <div class="col-xs-12">
    <% flash.each do |k,v| %>
      <div class="alert alert-dismissable alert-<%= k %>">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <%= v %>
      </div>
    <% end %>
  </div>
</div>